<div id="notes" class="azureBlueBackground azureBorderThin">
  {{input valueBinding="newNoteName"}}
  <button class="btn btn-default btn-xs" {{action "createNewNote"}}>New Note</button>

  <div class="list-group" style="margin-top: 10px;">
    {{#each controller}}
      {{#link-to "notes.note" this class='list-group-item'}}
        {{name}}
      {{/link-to}}
    {{/each}}
  </div>

</div>

{{outlet}}
